header {
  background-color: #1394F3;
  color: #ffffff;
  padding-left: 40px;
}

.btn{
    width:150px;
    height:35px;
    line-height:35px;
}

.btn a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#668AD8;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-style:oblique;
    box-shadow:3px 3px 0px 0px #5375BD ;
}

.btn a:hover{
    background:#668AD8;
    color:#FFFFFF;
    margin-left:3px;
    margin-top:3px;
    box-shadow:none;
}

.renraku {
  width: 300px;
}

body {
  text-align:
}
